<!--app/templates/index.html-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container pt-3">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th style="width:5%">#</th>
                <th style="width:15%">Mã</th>
                <th style="width:20%">Tên</th>
                <th style="width:20%">Giá</th>
                <th style="width:30%">Ảnh</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            {% for p in productList %}
                <tr class="text-center">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.code }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.price }}</td>
                    <td> <img src='{{p.img_path}}' style="max-height: 200px;"></td>
                    <td></td>
                </tr>
            {% endfor %}
            {% if not productList %}
                <tr>
                    <td colspan="6">Không có dữ liệu</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'create-product' %}">Thêm mới sản phẩm</a>
</div>

